<div class="container">
  <div class="row mb-2">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
      <label class="h4 bg-light px-4">商品編集</label>
    </div>
  </div>

  <%= form_with model: @item, url:admin_item_path, local:true do |f| %>
  <div class="row mb-2">
    <div class="col-lg-3"></div>
    <div class="col-lg-2">
      <%= f.label :商品画像 %> <!--ファイル選択で作成→記述済み-->
    </div>
    <div class="col-lg-7">
      <%= f.file_field :image, accept: "image/*" %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3"></div>
    <div class="col-lg-2">
      <%= f.label :商品名 %>
    </div>
    <div class="col-lg-7">
      <%= f.text_area :name %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3"></div>
    <div class="col-lg-2">
      <%= f.label :商品説明 %>
    </div>
    <div class="col-lg-7">
      <%= f.text_field :introduction, size: "30x5" %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3"></div>
    <div class="col-lg-2">
      <%= f.label :ジャンル %> <!--プルダウンで作成→記述済み-->
    </div>
    <div class="col-lg-7">
      <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択してください" %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3"></div>
    <div class="col-lg-2">
      <%= f.label :税抜価格 %>
    </div>
    <div class="col-lg-7">
      <%= f.text_field :price %>円
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3"></div>
    <div class="col-lg-2">
      <%= f.label :販売ステータス %> <!--ラジオボックスで作成-->
    </div>
    <div class="col-lg-7">
      <%= f.radio_button :is_active, true %>販売中
      <%= f.radio_button :is_active, false %>販売停止中
    </div>
  </div>
    <div class="row mb-2">
    <div class="col-lg-12 text-center">
      <%= f.submit "変更を保存", class: 'btn btn-success' %>
    </div>
  </div>
  <% end %>
</div>

