<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <label class="h4 bg-light px-4">商品一覧</label>
    </div>
    <div class="col-lg-2">
      <%= link_to "+", new_admin_item_path, class:"btn btn-outline-secondary rounded-circle" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10">
      <table class="table table-borderless border-top">
        <thead class="bg-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
            <th colspan="5"></th>
          </tr>
        </thead>

        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item.id) %></td>
              <td><%= item.price %></td>
              <td><%= item.genre.name %></td>
              <td>
                <% if item.is_active %>
                  <p class="text-success"><strong>販売中</strong></p>
                <% elsif %>
                  <p class="text-muted"><strong>販売停止</strong></p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-5"></div>
    <div class="col-lg-7">
      <%= paginate @items %>
    </div>
  </div>
</div>