<div class="container">
  <div class="row">
    <div class="col-10 mt-2 mb-2">
      <div class="card">
        <%= image_tag "top.jpg",class: "card-img" %>
        <div class="card-img-overlay d-flex"  style="top: auto; bottom: 0;">
          <div class="m-auto">
            <p class="text-center" style="background-color: rgba(255, 255, 255, 0.8);">ようこそながのCAKEへ!<br>
                                このサイトは、ケーキのECサイトになります。<br>
                                会員でない方も商品の閲覧はできますが、<br>
                                購入には会員登録が必要になります。
            </p>
          </div>
        </div>
      </div>
      
      <h4 class="mt-2">新着商品</h4>
      <div class = "d-flex justify-content-around">
        <div class="search-items d-flex flex-wrap">
        <% @items.each do |item| %>
          <div class="search-item mr-4">

            <div>
              <%= link_to item_path(item.id) do %>
                <%= image_tag item.image, size: "200x150" %>
              <% end %>
            </div>
            <div><%=  item.name %></div>
            <div>￥<%= item.price.to_s(:delimited) %></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="text-right">
      <%= link_to "全ての商品を見る>", items_path, style: "color: black;" %>
    </div>
  </div>
</div>
