<div class="container">
  <label class="h4 bg-light px-4">注文履歴詳細</label>
  <div class="row mb-2">

    <div class="col-lg-6">
      <table class="table table-borderless">
        <tr>
          <th>購入者</th>
          <td><%= link_to (@order.customer.last_name + ' ' + @order.customer.first_name), admin_customer_path(@order.customer.id) %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td><%= @order.address %></td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <td>
            <%= form_with model: @order, url:admin_order_path(@order), method: :patch do |order| %>
              <%= order.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
              <%= order.submit '更新', class:"btn btn-success" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

  </div>

  <div class="row mb-2">

    <div class="col-lg-8">
      <table class="table table shadow-sm">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= (order_detail.item.price * 1.1).floor.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= ((order_detail.item.price * 1.1) * order_detail.amount).floor.to_s(:delimited) %></td>
            <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch do |makes| %>
              <td><%= makes.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %></td>
              <td><%= makes.submit '更新', class:"btn btn-success" %></td>
            <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-lg-4 d-flex align-items-end mb-2">
      <table>
        <tr>
          <th>商品合計</th>
          <td><%= number_to_currency(@order.total_payment - @order.shipping_cost, unit:"円") %></td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= number_to_currency(@order.shipping_cost, unit:"円") %></td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td><%= number_to_currency(@order.total_payment, unit:"円") %></td>
        </tr>
      </table>
    </div>

  </div>
</div>