<h1>注文履歴詳細</h1>

  <table>
    <tr>
      <th>購入者</th>
      <td><%= link_to @order.name, admin_customer_path %></td>
    </tr>
    <tr>
      <th>注文日</th>
      <td><%= @order.created_ato.strftime("%Y%M%D")%></td>
    </tr>
    <tr>
      <th>配送先</th>
      <td><%= @order.adrress %></td>
    </tr>
    <tr>
      <th>支払方法</th>
      <td><%= @order.payment_method %></td>
    </tr>
    <tr>
      <th>注文ステータス</th>
      <td>
        <%= form_with model: @order, url:admin_order_path(@order), method: :patch do |order| %>
          <%= order.select :status, Order.statusess.keys.map %>
          <%= order.submit '更新', class:"btn btn-success" %>
        <% end %>
      </td>
    </tr>
  </table>

  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th>制作ステータス</th>
      </tr>
    </thead>

    <tbody>
      <% @order_teails.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= number_to_currency(order_detail.with_tax_price %></td>
        <td><%= order_detail.amount %></td>
        <td><%= order_detail.subtotal %></td>
        <td>
          <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch do |makes| %>
            <%= makes.select :making_status, OrderDetail.making_status.keys.map %>
            <%= makes.submit '更新', class:"btn btn-success" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <table>
    <tr>
      <th>商品合計</th>
      <td><%= number_to_currency(@order.total_payment, unit:"円" %></td>
      <th>送料</th>
      <td><%= number_to_currency(@order.shipping_cost, unit:"円" %></td>
      <th>請求金額合計</th>
      <td><%= number_to_currency(@order.total_payment, unit:"円" %></td>
    </tr>
  </table>

