<div class="container">
<label class="h4 bg-light">配送先登録/一覧</label>
<div class="row mb-2">
<div class="col-lg-10">

  <%= form_with model: @address do |f| %>
  <table class="table table-borderless">
    <tbody>
    <tr>
      <td>郵便番号（ハイフンなし）</td>
      <td><%= f.text_field :postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <td>宛名</td>
      <td><%= f.text_field :name %></td>
      <td><%= f.submit '新規登録', class: "btn btn-primary" %></td>
    </tr>
    </tbody>
  </table>
  <% end %>

  <table class="table ship-city-table">
    <thead>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th colspan="2"></th>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
      <tr>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td>
          <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-primary" %>
          <%= link_to "削除する", address_path(address), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
</div>
</div>