<div class="container">
  <div class="row">
    <div class="col">
      
      <%= form_with model: @order, url: '/orders/confirm' , local: true do |f| %>
        <h4>支払い方法</h4>
        <%= f.radio_button :payment_method, "credit_card" %>
        <%= f.label :payment_method, "クレジットカード" %>
        <%= f.radio_button :payment_method, "transfer" %>
        <%= f.label :payment_method, "銀行振込" %>
      
      
    </div>
  </div>
</div>