<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <h4>商品一覧</h4><h6>（全<%= @items.count %>件）</h6>
      <% @items.each do |item| %>
        <div>
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_image(300,300) %>
          <% end %>
          <%= item.name %>
          <p>¥<%= item.price %></p>
        </div>
      <% end %>
      <%= paginate @items %>
    </div>
  </div>
</div>