<%= render 'layouts/customer_header' %>

<table class="table table-hover table-inverse">
  <div>
    <tr>
      <p>
        <% if @item.image.attached? %>
          <%= image_tag @item.image, size: "300x300" %>
        <% else %>
          <%= image_tag 'no_image', size: "200x200" %>
        <% end %>
      </p>
      <p><%= @item.name %></p>
      <p><%= @item.introduction %></p>
      <p>¥<%= @item.price %>（税込）</p>
  </div>
</table>
  

<%= form_with model:@car_item, url:car_items_path, method: :post, local:true do |f| %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <p>数量を選択してください。</p>
  <%= f.select :quantity, *[1..5],{include_blank: '個数選択'},required:true%>&emsp;
  <%= f.submit "カートに入れる" %>
<% end %>